<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/bootstrap">
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body class="bg-dark">

    <navbar th:include="fragments/navbar"></navbar>

<!--    <h1 class="text-center">Alyssa's Book App</h1>-->

<!--    jumbotron-->
    <div class="jumbotron" th:class="bg-primary">
        <h1 class="display-4" th:class="text-center" >Alyssa's Book App</h1>
        <p class="text-center font-italic text-light">Welcome to Alyssa's Book Application! </p>
        <hr class="my-4">
        <p class="text-center font-italic text-light">Features: you may add a book , edit one and delete if you like</p>
        <a class="btn btn-dark btn-lg"  href="/books/create" role="button">add a book</a>
    </div>


    <!-- conditional if no ads are in the list-->
    <div th:if="${noBooksFound}">
        <h3>No Books were found</h3>
    </div>

    <!-- list the books on the list -->
    <div th:each="book : ${books}" class="text-center font-italic text-light">
        <h3 th:text="${book.title}"></h3>
        <p th:text="${book.author}"></p>
        <p th:text="${book.genre}"></p>
        <p th:text="${book.releaseDate}"></p>
        <a th:href="'/books/' + ${book.id} + '/edit'" class="btn btn-primary">Edit</a>

        <hr>

    </div>
<!--    <div class="card text-center" th:each="book : ${books}">-->
<!--        <div class="card-header">-->
<!--            Featured Book-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title" th:text="${book.title}"></h5>-->
<!--            <p class="card-text" th:text="${book.author}"></p>-->
<!--            <p class="card-text" th:text="${book.genre}"></p>-->
<!--&lt;!&ndash;            <a th:href="${'/books/' + ${book.id} + '/edit'}" class="btn btn-primary">Edit</a>&ndash;&gt;-->
<!--        </div>-->
<!--        <div class="card-footer text-muted" th:text="${book.releaseDate}">-->
<!--            2 days ago-->
<!--        </div>-->
<!--    </div>-->


<!--    <a href="/books/create" class="btn btn-primary">add a book</a>-->


    <!--    <a class="text-center" href="/books/create">add a book</a>-->
</body>
</html>
