<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/bootstrap">
    <meta charset="UTF-8">
    <title>Show Book</title>
</head>
<body>

    <h1>view book</h1>

    <div class="container">

        <h3>Title: <span th:text="${showBook.title}"></span></h3>

        <h2>Author: <span th:text="${showBook.author}"></span></h2>

        <p>Genre: <span th:text="${showBook.genre}"></span></p>

        <p>Release Date: <span th:text="${showBook.releaseDate}"></span></p>
    </div>

    <a href="/books">Back to list</a>

</body>
</html>
