<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:include="fragments/bootstrap">-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Employees</title>-->
<!--</head>-->
<!--<body>-->
<!--    <nav th:include="fragments/navbar"></nav>-->

<!--    <h1 class="text-center">Employees</h1>-->

<!--    <table>-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>Name</th>-->
<!--                <th>Email</th>-->
<!--                <th>Role</th>-->
<!--&lt;!&ndash;                for th:if &ndash;&gt;-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--            <tr th:each="employee : ${employees}">-->
<!--                <td th:text="${employee.name}"></td>-->
<!--                <td th:text="${employee.email}"></td>-->
<!--                <td th:text="${employee.role}"></td>-->
<!--                <td th:if="${employee.role} == 'ADMIN'">User is admin</td>-->
<!--            </tr>-->
<!--        </tbody>-->
<!--    </table>-->

<!--&lt;!&ndash; updating employee list table with bootstrap&ndash;&gt;-->
<!--    <table class="table table-dark">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th scope="col">Name</th>-->
<!--            <th scope="col">Email</th>-->
<!--            <th scope="col">Role</th>-->
<!--            <th scope="col"></th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="employee : ${employees}">-->
<!--            <td th:text="${employee.name}"></td>-->
<!--            <td th:text="${employee.email}"></td>-->
<!--            <td th:text="${employee.role}"></td>-->
<!--            <td th:if="${employee.role} == 'ADMIN'">This user is admin</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

<!--</body>-->
<!--</html>-->
